---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---


<Card colSpan="lg:col-span-2" rowSpan="md:row-span-1" title="Currently">

  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
    </div>
    <Pulse />
  </div>
    <p> Software Engineer (training) @ Bloomberg </p>
    <p> Computer Science + Math Alumni @ UIUC </p>

    
</Card>
