---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
<div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        My Experience!
      </h1>
    </header>
    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500"> The Trade Desk </h2>
      <p> Data and Software Engineer  </p>
      <p>Summer 2023</p>
    </address>

    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500"> University of Illinois </h2>
      <p> Course Assistant @ CS 340 </p>
      <p> January 2023 - Present </p>
    </address>

     <address class="flex flex-col mt-4">
      <h2 class="text-gray-500"> Reflections Projections </h2>
      <p> Software Engineer </p>
      <p> January - September 2023 </p>
    </address>

    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500"> The Trade Desk </h2>
      <p> Data and Software Engineer </p>
      <p>Summer 2022</p>
    </address>

    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500"> Capital One </h2>
      <p> Full Stack Software Engineer </p>
      <p>Spring 2022</p>
    </address>
    
  </div>
  

</Card>
