---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
<div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        My Experience!
      </h1>
    </header>
    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500">  <b class="font-bold"> The Trade Desk </b> </h2>
      <p> Data and Software Engineer  </p>
      <p> May '23 - August '23</p>
    </address>

    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500"> <b class="font-bold"> University of Illinois </b>  </h2>
      <p> Course Assistant @ CS 340 </p>
      <p> January '23 - Present </p>
    </address>

     <address class="flex flex-col mt-4">
      <h2 class="text-gray-500"> <b class="font-bold"> Reflections | Projections </b>  </h2>
      <p> Software Engineer </p>
      <p> January '23 - September '23 </p>
    </address>

    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500"> <b class="font-bold"> Disruption Lab  </b> </h2>
      <p> Software Engineer </p>
      <p> January '23 - May '23 </p>
    </address>

    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500"> <b class="font-bold"> The Trade Desk </b>  </h2>
      <p> Data and Software Engineer </p>
      <p> May '22 - August '22 </p>
    </address>

    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500"> <b class="font-bold"> Capital One  </b> </h2>
      <p> Full Stack Software Engineer </p>
      <p> February '22 - April '22 </p>
    </address>

    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500"> <b class="font-bold"> Juni Learning </b>  </h2>
      <p> Computer Science Instructor </p>
      <p> June '21 - January '22 </p>
    </address>
    
  </div>
  

</Card>
