---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---
<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Hobbies">
      <ul class="list-disc list-inside">
        <li> Dancing </li>
        <li> Photography </li>
        <li> Coding </li>

      </ul>
</Card>