---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Books I'm Reading">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
    

  <ul class="list-disc list-inside">
        <li> Thinking Fast and Slow </li>
        <li> The Miracle of Mindfulness </li>
        <li> The Subtle Art of Not Giving </li>
      </ul>
</Card>
